Sphinx<2.0
git+git://github.com/f5devcentral/f5-sphinx-theme@master#egg=f5_sphinx_theme
recommonmark
GitPython
sphinxcontrib-addmetahtml
sphinxcontrib-nwdiag
sphinxcontrib-blockdiag
sphinxcontrib-seqdiag
sphinxcontrib-actdiag
