div[class^='highlight'] pre, div[class~='docutils'], code, .code.descname {
    background: lightgrey !important;
}

img {
/*	max-width: 100%;
    height: auto;*/
	margin-bottom: 12px;
}

table {
	margin-bottom: 12px;
}
