{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.1.0",
        "id": "testid",
        "label": "test-label",
        "remark": "test-remark",
        "{{tenant}}": 
            {{tenant_body}}
    }
}